{% extends 'base.html.twig' %}

{% block stylesheets %}
    <script src="../../public/validationForm.js"></script>
{% endblock %}

{% block body %}

    {% if sucesso is defined %}
        {% if 1 == sucesso %}
            <script>
                $(function () {
                    swal('Acerto');
                });
            </script>
        {% endif %}
    {% endif %}

    <section class="content">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Menu</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i
                                class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i
                                class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <button class="btn btn-bitbucket btn-flat" data-target="#modal1" data-toggle="modal">Novo</button>
                <button class="btn btn-google">Google</button>
                <button class="btn btn-github">GitHub</button>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Acervos</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i
                                class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i
                                class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">

                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Editora</th>
                        <th>Cadastro</th>
                        <th>Ativo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if itens is defined %}
                        {% for item in itens %}
                            <tr>
                                <td>{{ item.titulo }}</td>
                                <td>{{ item.autor }}</td>
                                <td>{{ item.editora }}</td>
                                <td>{{ item.cadastro|date('d/m/Y H:i:s') }}</td>
                                <td>{{ item.nomeStatus }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Editora</th>
                        <th>Cadastro</th>
                        <th>Ativo</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>

        <div class="example-modal">
            <div class="modal" id="modal1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Novo Item</h4>
                        </div>

                        <form method="post" action="{{ path('biblioteca_acervo_cadastro') }}">

                            <div class="modal-body">

                                <div class="form-group has-feedback">
                                    <input type="text" name="titulo" placeholder="Titulo" class="form-control"/>
                                    <span class="glyphicon glyphicon-book form-control-feedback"></span>
                                </div>

                                <div class="form-group has-feedback">
                                    <input type="text" name="autor" placeholder="Autor" class="form-control"/>
                                    <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                                </div>

                                <div class="form-group has-feedback">
                                    <input type="text" name="editora" placeholder="Editora" class="form-control"/>
                                    <span class="glyphicon glyphicon-send form-control-feedback"></span>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!-- /.example-modal -->

    </section><!-- /.content -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>

{% endblock %}